* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*.btn-login {
  outline: none;
}

.container {
  height: 100vh;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-login {
  width: 300px;
}

.container-login {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  gap: 30px;
}

.container-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px 20px;
}

.container-login input {
  padding: 15px 35px;
}

.btn-login {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background: #004e92;
}

.btn-login:hover {
  background-color: blue;
}

a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: #000428;
  padding: 5px 10px;
  cursor: pointer;
}

a:hover {
  background-color: #004e92;
  color: white;
}

@media screen and (max-width: 550px) {
  .container-login {
    width: 350px;
    height: 400px;
  }
}
